<div id="modal2" class="modal">
    <div class="modal-content">
        <h4>Odpowiedział dobrze?</h4>
    </div>
    <div class="modal-footer">
        <a onclick="goodAnswered()" class="modal-action modal-close waves-effect waves-green btn-flat">TAK!</a>
        <a onclick="badAnswered()" class="modal-action modal-close waves-effect waves-green btn-flat">NIE</a>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.modal').modal();
    });
</script>