<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>Instrukcja Gry 5 sekund</h4>
        <h5>Gra</h5>
        <p>
            1. Naciśnij 'Graj'<br />
            2. Podaj liczbę graczy a następnie zatwierdź przyciskiem 'Dalej'<br />
            3. Wprowadź nazwy graczy, a następnie naciśnij 'Graj' aby rozpocząć rozgrywkę <br />
        </p>
        <h5>Dodawanie pytania</h5>
        <p>
            1. Naciśnij 'Dodaj nowe pytanie' i zostaniesz przekierowany na druga strone<br />
            2. Podaj nowe pytanie i nacisnij 'Dodaj' <br/>
            uwaga*: Pytanie może mieć maksymalnie 255znaków.
        </p>

</div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Zrozumiałem!</a>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('.modal').modal();
    });
</script>