@model List<Player>
@{
    ViewBag.title = "Game";
}

<h2>Gra</h2>

<div class="row">
    @await Component.InvokeAsync("Players", Model)
</div>

<div class="row">
    <div class="col s4">
        <h4>Odpowiada: <span id="currentUser"></span></h4>
    </div>

    <div class="col s4">
        <div id="Results" name="Results"></div>
    </div>


    <div class="col s4 ">
        <form asp-controller="Home" asp-action="Get" data-ajax="true" data-ajax-method="GET"
              data-ajax-update="#Results">
            <button type="submit" class="btn waves-effect waves-light">Losuj pytanie</button>
        </form> <br />
        <button class="btn waves-effect waves-light red" onclick="countdown();">start</button>
    </div>
</div>

<div class="row">
    <div class="col s4 offset-s4">
        <h4>Czas: <span id="timer">5</span> </h4>
    </div>
</div>

@Html.Partial("_modalResult")
@Html.Partial("_modalWin")

<script src="~/js/game.js"></script>