
@{
    ViewData["Title"] = "Podaj graczy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br /><br/><br />
<div class="row">
    <div class="col s12 m3">
        <div class="card-panel indigo darken-1">
            <span class="white-text"> <b>Podaj liczbę graczy</b></span>
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="material-icons prefix" style="color: white">mode_edit</i>
                            <input style="background-color: white; width: 45px; font-size: 20px; text-align: center" id="icon_prefix2" class="materialize-textarea" />
                            <a class="btn btn-large">Dalej</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


