<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/lib/materialize/dist/css/materialize.min.css" rel="stylesheet" />
    <link href="~/content/style.css" rel="stylesheet" />
    </head>
<body>
<nav>
    <div class="nav-wrapper indigo darken-1">
        <a href="#" class="brand-logo center">5 Sekund</a>
    </div>
</nav>
<div class="container">
    @RenderBody()
</div>
</body>
</html>
